{
    "openapi": "3.0.1",
    "info": {
        "title": "PASOE Management APIs",
        "description": "Monitor and manage a PAS for OpenEdge instance with RESTful API calls. Expand each component to list the available APIs. Select the REST verbs (GET, PUT, DELETE, and POST) to view the details for a particular API. Within each reference, use the `Try it out` button to test. These APIs use JSON input/output payloads, so request body content will be JSON where necessary.<br/><br/>Read more about [PASOE Administration](https://docs.progress.com/bundle/pas-for-openedge-reference/page/REST-API-Reference-for-oemanager.war.html). Ask questions and learn from the [OpenEdge Communities](https://community.progress.com/community_groups/openedge_development)",
        "version": "2.23.4"
    },
    "servers": [
        {
            "url": "https://sfrbo.consultingwerkcloud.com:8821/oemanager",
            "description": "PASOE Administration"
        }
    ],
    "tags": [
        {
            "name": "AgentManager Administration",
            "description": "Manages the Agent Manager's behavior and metrics for an ABL Application"
        },
        {
            "name": "APSV Transport"
        },
        {
            "name": "SessionManager Administration",
            "description": "Manages the Session Manager's behavior and metrics for an ABL Application"
        },
        {
            "name": "OEABL ManagerService"
        },
        {
            "name": "WEB Transport"
        },
        {
            "name": "REST Transport"
        },
        {
            "name": "SOAP Transport"
        }
    ],
    "paths": {
        "/applications/{AppName}/agents/{AgentID}/agentStatData": {
            "delete": {
                "tags": [
                    "Debugging & Monitoring"
                ],
                "summary": "Clear an MS-Agent's Statistics",
                "description": "Clear (reset) the internal MS-Agent statistics",
                "operationId": "clearAgentStatData",
                "parameters": [
                    {
                        "name": "AppName",
                        "in": "path",
                        "description": "ABL Application Name",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "AgentID",
                        "in": "path",
                        "description": "MS-Agent ID",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successfully reset Agent statistics"
                    },
                    "500": {
                        "description": "Could not reset Agent statistics"
                    }
                }
            }
        },
        "/applications/{AppName}/agents/{AgentID}/flushDeferredLog": {
            "get": {
                "tags": [
                    "Debugging & Monitoring"
                ],
                "summary": "Flushes deferred log to Agent log file.",
                "description": "Writes the contents of the deferred log buffer to the Agent log file, and empties the buffer.<br/><br/>See: [Use deferred logging in PAS for OpenEdge](https://docs.progress.com/bundle/pas-for-openedge-management/page/Use-deferred-logging-in-PAS-for-OpenEdge.html)",
                "operationId": "flushDeferredLog",
                "parameters": [
                    {
                        "name": "AppName",
                        "in": "path",
                        "description": "ABL Application Name",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "AgentID",
                        "in": "path",
                        "description": "MS-Agent ID or `all`",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Logs flushed successfully"
                    },
                    "500": {
                        "description": "Could not flush logs"
                    }
                }
            }
        },
        "/applications/{AppName}/agents/{AgentID}/ABLObjects": {
            "get": {
                "tags": [
                    "Debugging & Monitoring"
                ],
                "summary": "Get an ABLObjects Report",
                "description": "Generates an ABLObjects report for all ABL Sessions of an MS-Agent. Returns `null` if tracking is not active or failed to generate the report.<br/><br/>See: [Find Memory Leaks Using ABLObject Tracking](https://docs.progress.com/bundle/pas-for-openedge-management/page/Find-memory-leaks-using-ABL-object-tracking.html)",
                "operationId": "getABLObjectsReport",
                "parameters": [
                    {
                        "name": "AppName",
                        "in": "path",
                        "description": "ABL Application Name",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "AgentID",
                        "in": "path",
                        "description": "MS-Agent ID",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successfully retrieved the status of ABLObjects tracking for an MS-Agent"
                    },
                    "500": {
                        "description": "Could not get status of ABLObjects tracking for an MS-Agent"
                    }
                }
            }
        },
        "/applications/{AppName}/agents/{AgentID}/ABLObjects/sessions/{SessionID}": {
            "get": {
                "tags": [
                    "Debugging & Monitoring"
                ],
                "summary": "Get ABL Objects Report per ABL Session",
                "description": "Generates ABL objects report for an ABL Session in an MS-Agent.<br/><br/>See: [Find Memory Leaks Using ABLObject Tracking](https://docs.progress.com/bundle/pas-for-openedge-management/page/Find-memory-leaks-using-ABL-object-tracking.html)",
                "operationId": "getABLObjectsReport_1",
                "parameters": [
                    {
                        "name": "AppName",
                        "in": "path",
                        "description": "ABL Application Name",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "AgentID",
                        "in": "path",
                        "description": "MS-Agent ID",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "SessionID",
                        "in": "path",
                        "description": "ABL Session ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successfully retrieved the status of ABLObjects tracking for an ABL Session in a MS-Agent"
                    },
                    "500": {
                        "description": "Could not get status of ABLObjects tracking for an ABL Session in a MS-Agent"
                    }
                }
            }
        },
        "/applications/{AppName}/agents/{AgentID}/{Component}": {
            "get": {
                "tags": [
                    "AgentManager Administration"
                ],
                "summary": "Get a single MS-Agent's statistics",
                "description": "Returns the corresponding statistics when given one of the following <strong>Component</strong> names:<br/><br/>`metrics` = Returns MS-Agent metrics (incl. overhead memory)<br/><br/>`status` = Returns a count of all threads, sessions, requests, connections associated with the MS-Agent thus far<br/><br/>`requests` | `connections` | `threads` = Returns that Component's metrics (either a count, data, or both)",
                "operationId": "getAgentComponentMetrics",
                "parameters": [
                    {
                        "name": "AppName",
                        "in": "path",
                        "description": "ABL Application Name",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Component",
                        "in": "path",
                        "description": "One of the following statistics: metrics|status|requests|connections|threads ",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "AgentID",
                        "in": "path",
                        "description": "MS-Agent ID",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Agent statistics retrieved successfully"
                    },
                    "500": {
                        "description": "Unable to retrieve MS-Agent statistics"
                    }
                }
            }
        },
        "/applications/{AppName}/agents/{AgentID}/sessions": {
            "get": {
                "tags": [
                    "AgentManager Administration"
                ],
                "summary": "Get an MS-Agent's Session Metrics",
                "description": "Returns the current metrics for an MS-Agent's sessions.<br/>If a `SessionID` value is provided only that session's metrics will be returned, otherwise all sessions for the MS-Agent will be returned.`",
                "operationId": "getAgentSessionMetrics",
                "parameters": [
                    {
                        "name": "AppName",
                        "in": "path",
                        "description": "ABL Application Name",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "AgentID",
                        "in": "path",
                        "description": "MS-Agent ID",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "sessionID",
                        "in": "query",
                        "description": "ABL Session ID",
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Agent statistics retrieved successfully"
                    },
                    "500": {
                        "description": "Unable to retrieve MS-Agent statistics"
                    }
                }
            },
            "delete": {
                "tags": [
                    "AgentManager Administration"
                ],
                "summary": "Refresh ABL Sessions",
                "description": "This terminates all ABL Sessions within the MS-Agent(s) of an ABL application, thereby 'refreshing' the MS-Agents so that changes to the application can be picked up by those agents.<br/><br/>See: [Refresh Agents in an ABL Application](https://docs.progress.com/bundle/pas-for-openedge-management/page/Refresh-agents-in-an-ABL-application.html)",
                "operationId": "refreshAgents",
                "parameters": [
                    {
                        "name": "AppName",
                        "in": "path",
                        "description": "ABL Application Name",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "AgentID",
                        "in": "path",
                        "description": "MS-Agent ID or `all`",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Agent(s) refreshed successfully"
                    },
                    "500": {
                        "description": "Could not refresh an Agent(s)"
                    }
                }
            }
        },
        "/applications/{AppName}/agents/sessions": {
            "get": {
                "tags": [
                    "AgentManager Administration"
                ],
                "summary": "Get all MS-Agents with Session Metrics",
                "description": "Lists all MS-Agents with their agentId's, PID's, and state for a given ABL Application, including each MS-Agent's session metrics",
                "operationId": "getAgentSessions",
                "parameters": [
                    {
                        "name": "AppName",
                        "in": "path",
                        "description": "ABL Application Name",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successfully retrieved all the agents"
                    },
                    "500": {
                        "description": "Unable to get the agents list"
                    }
                }
            }
        },
        "/applications/{AppName}/agents/{AgentID}/stacks": {
            "get": {
                "tags": [
                    "Debugging & Monitoring"
                ],
                "summary": "Get MS-Agent Stacks",
                "description": "Get the ABL Stacks (listing of running programs) for ALL of the ABL Sessions of an MS-Agent",
                "operationId": "getAgentStacks",
                "parameters": [
                    {
                        "name": "AppName",
                        "in": "path",
                        "description": "ABL Application Name",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "AgentID",
                        "in": "path",
                        "description": "MS-Agent ID",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successfully retrieved ABL Stacks for the MS-Agent"
                    },
                    "500": {
                        "description": "Could not retrieve ABL Stacks for the MS-Agent"
                    }
                }
            }
        },
        "/applications/{AppName}/agents": {
            "get": {
                "tags": [
                    "AgentManager Administration"
                ],
                "summary": "Get all MS-Agents",
                "description": "Lists all MS-Agents with their  agentId's, PID's, and state for a given ABL Application",
                "operationId": "getAgents",
                "parameters": [
                    {
                        "name": "AppName",
                        "in": "path",
                        "description": "ABL Application Name",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successfully retrieved all the agents"
                    },
                    "500": {
                        "description": "Unable to get the agents list"
                    }
                }
            }
        },
        "/applications/{AppName}/agents/{AgentID}/dynamicSessionLimit": {
            "get": {
                "tags": [
                    "AgentManager Administration"
                ],
                "summary": "Gets dynamic ABL Session limit.",
                "description": "Gets the current dynamic ABL Session limit, part of the [Enhanced ABL Session Management](https://docs.progress.com/bundle/pas-for-openedge-management/page/Enhanced-ABL-session-management.html) feature.",
                "operationId": "getDynamicABLSessionLimitInfo",
                "parameters": [
                    {
                        "name": "AppName",
                        "in": "path",
                        "description": "ABL Application Name",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "AgentID",
                        "in": "path",
                        "description": "MS-Agent ID or `all`",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Logs reset successfully"
                    },
                    "500": {
                        "description": "Could not reset logs"
                    }
                }
            },
            "delete": {
                "tags": [
                    "AgentManager Administration"
                ],
                "summary": "Resets dynamic ABL Session limit",
                "description": "Resets the dynamic ABL Session limit to a maximum defined by maxABLSessionsPerAgent for an MS-Agent or all application MS-Agents.<br/><br/>See: [Enhanced ABL Session Management](https://docs.progress.com/bundle/pas-for-openedge-management/page/Enhanced-ABL-session-management.html)",
                "operationId": "resetDynamicABLSessionLimit",
                "parameters": [
                    {
                        "name": "AppName",
                        "in": "path",
                        "description": "ABL Application Name",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "AgentID",
                        "in": "path",
                        "description": "MS-Agent ID or `all`",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Logs reset successfully"
                    },
                    "500": {
                        "description": "Could not reset logs"
                    }
                }
            }
        },
        "/applications/{AppName}/agents/{AgentID}/getProfilerSettings": {
            "get": {
                "tags": [
                    "Debugging & Monitoring"
                ],
                "summary": "Get Profiler Settings",
                "description": "Get the ABL Profiler settings that were set during Enable ABL Profiler API (pushProfilerData).<br/><br/>See: [What is Server-Side Profiling](https://docs.progress.com/bundle/pas-for-openedge-management/page/What-is-Server-Side-Profiling.html)",
                "operationId": "getProfilerSettings",
                "parameters": [
                    {
                        "name": "AppName",
                        "in": "path",
                        "description": "ABL Application Name",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "AgentID",
                        "in": "path",
                        "description": "MS-Agent ID",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successfully retrieved ABL Profiler settings for an MS-Agent"
                    },
                    "500": {
                        "description": "Could not get ABL Profiler settings for an MS-Agent"
                    }
                }
            }
        },
        "/applications/{AppName}/agents/properties": {
            "get": {
                "tags": [
                    "AgentManager Administration"
                ],
                "summary": "Get AgentManager Properties",
                "description": "Get the list of AgentManager properties (from openedge.properties)",
                "operationId": "getProperties",
                "parameters": [
                    {
                        "name": "AppName",
                        "in": "path",
                        "description": "ABL Application Name",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successfully retrieved AgentManager Properties"
                    },
                    "500": {
                        "description": "Could not retrieve AgentManager Properties"
                    }
                }
            },
            "put": {
                "tags": [
                    "AgentManager Administration"
                ],
                "summary": "Update AgentManager Properties",
                "description": "Update AgentManager Properties (to openedge.properties)<br/><br/><strong>Note:</strong> The property values in the Request body should be updated before executing the request. Deletes the properties that were not modified.",
                "operationId": "updateProperties",
                "parameters": [
                    {
                        "name": "AppName",
                        "in": "path",
                        "description": "ABL Application Name",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "description": "AgentManager Properties",
                    "content": {
                        "application/vnd.progress+json": {
                            "schema": {
                                "$ref": "#/components/schemas/AgentManagerProperties"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Successfully updated AgentManager Properties"
                    },
                    "500": {
                        "description": "Could not update AgentManager Properties"
                    }
                }
            }
        },
        "/applications/{AppName}/agents/{AgentID}/sessions/{SessionID}/stacks": {
            "get": {
                "tags": [
                    "Debugging & Monitoring"
                ],
                "summary": "Get ABL Session Stacks",
                "description": "Get ABL Stacks (listing of running programs) for a specific ABL Session of an MS-Agent",
                "operationId": "getSessionStacks",
                "parameters": [
                    {
                        "name": "AppName",
                        "in": "path",
                        "description": "ABL Application Name",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "AgentID",
                        "in": "path",
                        "description": "MS-Agent ID",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "SessionID",
                        "in": "path",
                        "description": "ABL Session ID",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successfully retrieved ABL Stacks for the ABL Session"
                    },
                    "500": {
                        "description": "Could not retrieve ABL Stacks for the ABL Session"
                    }
                }
            }
        },
        "/applications/{AppName}/agents/{AgentID}/pushProfilerData": {
            "post": {
                "tags": [
                    "Debugging & Monitoring"
                ],
                "summary": "Enable ABL Profiler",
                "description": "Enable the server-side ABL Profiler for an MS-Agent.<br/>The <strong>Profiler Settings</strong> is a JSON object which may have the following properties:<br/><br/><strong>Coverage</strong> (boolean) - ABL PROFILER:COVERAGE set to true or false; default is false<br/><strong>Statistics</strong> (boolean) - ABL PROFILER:STATISTICS set to true or false; default is false<br/><strong>TestRunDescriptor</strong> (string) - identifier for this test run, ABL PROFILER:DESCRIPTION, default is `null`<br/><strong>bufsize</strong> (integer) - size of buffer in kilobytes for logging profiler data; min/default value is 60, max is 1024<br/><strong>ProcList</strong> (string) - filter: csv of procedures to be profiled; empty string means profile all; default is `null`<br/><strong>AdapterMask</strong> (string) - filter: csv of adapters: REST, APSV, SOAP, WEB; `null` means accept all; default is `null`<br/><strong>RequestLoBound</strong> (integer) - filter: minimum request length to be profiled in millisecs; default is 0<br/><strong>RequestHiBound</strong> (integer) - filter: maximum request length to be profiled in millisecs; -1 means no limit; default is -1<br/><br/><strong>Note:</strong> The property values in the Request body should be updated before executing the request. Deletes the properties that were not modified.<br/><br/>See: [What is Server-Side Profiling](https://docs.progress.com/bundle/pas-for-openedge-management/page/What-is-Server-Side-Profiling.html)",
                "operationId": "pushProfilerData",
                "parameters": [
                    {
                        "name": "AppName",
                        "in": "path",
                        "description": "ABL Application Name",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "AgentID",
                        "in": "path",
                        "description": "MS-Agent ID",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "url",
                        "in": "query",
                        "description": "Diagnostic Server URL",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "requestCount",
                        "in": "query",
                        "description": "Total number of requests to profile",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "default": "10"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Profiler Settings",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ProfilerSettings"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Successfully enabled ABL Profiler for an MS-Agent"
                    },
                    "500": {
                        "description": "Could not enable ABL Profiler for an MS-Agent"
                    }
                }
            }
        },
        "/applications/{AppName}/agents/{AgentID}/resetDeferredLog": {
            "delete": {
                "tags": [
                    "Debugging & Monitoring"
                ],
                "summary": "Resets deferred log for MS-Agent.",
                "description": "Empties the contents of the deferred log buffer without writing to the Agent log file.",
                "operationId": "resetDeferredLog",
                "parameters": [
                    {
                        "name": "AppName",
                        "in": "path",
                        "description": "ABL Application Name",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "AgentID",
                        "in": "path",
                        "description": "MS-Agent ID or `all`",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Logs reset successfully"
                    },
                    "500": {
                        "description": "Could not reset logs"
                    }
                }
            }
        },
        "/applications/{AppName}/agents/{AgentID}/dynamicSessionLimit/{SessionLimit}": {
            "post": {
                "tags": [
                    "AgentManager Administration"
                ],
                "summary": "Sets dynamic ABL Session limit.",
                "description": "Sets the maximum number of ABL Sessions for an MS-Agent or all application MS-Agents.<br/><br/>See: [Enhanced ABL Session Management](https://docs.progress.com/bundle/pas-for-openedge-management/page/Enhanced-ABL-session-management.html)",
                "operationId": "setDynamicABLSessionLimit",
                "parameters": [
                    {
                        "name": "AppName",
                        "in": "path",
                        "description": "ABL Application Name",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "AgentID",
                        "in": "path",
                        "description": "MS-Agent ID or `all`",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "SessionLimit",
                        "in": "path",
                        "description": "ABL Agent Session Limit",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Logs reset successfully"
                    },
                    "500": {
                        "description": "Could not reset logs"
                    }
                }
            }
        },
        "/applications/{AppName}/agents/{AgentID}": {
            "delete": {
                "tags": [
                    "AgentManager Administration"
                ],
                "summary": "Stop MS-Agent",
                "description": "Stop (terminate) an MS-Agent using the provided options.",
                "operationId": "stopAgent",
                "parameters": [
                    {
                        "name": "AppName",
                        "in": "path",
                        "description": "ABL Application Name",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "AgentID",
                        "in": "path",
                        "description": "MS-Agent ID ",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "waitToFinish",
                        "in": "query",
                        "description": "The number of milliseconds to wait for any current requests to finish before issuing a soft STOP",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "default": "120000"
                        }
                    },
                    {
                        "name": "waitAfterStop",
                        "in": "query",
                        "description": "The number of milliseconds to wait after issuing a soft STOP before issuing a hard (untrappable) STOP",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "default": "60000"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Agent terminated successfully"
                    },
                    "500": {
                        "description": "Could not terminate the agent"
                    }
                }
            }
        },
        "/applications/{AppName}/agents/{AgentID}/sessions/{SessionID}": {
            "delete": {
                "tags": [
                    "AgentManager Administration"
                ],
                "summary": "Terminate ABL Session",
                "description": "Terminate an ABL Session in an MS-Agent using one of the following termination options:<br/><br/>`0` - graceful (trappable) stop<br/><br/>`1` - forced (untrappable) stop<br/><br/>`2` - finish request + stop",
                "operationId": "terminateABLSession",
                "parameters": [
                    {
                        "name": "AppName",
                        "in": "path",
                        "description": "ABL Application Name",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "AgentID",
                        "in": "path",
                        "description": "MS-Agent ID",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "SessionID",
                        "in": "path",
                        "description": "ABL Session ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "terminateOpt",
                        "in": "query",
                        "description": "Terminate Option",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "default": 2
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successfully terminated ABL Session"
                    },
                    "500": {
                        "description": "Could not terminate ABL Session"
                    }
                }
            }
        },
        "/applications/{AppName}/agents/{AgentID}/ABLObjects/status": {
            "get": {
                "tags": [
                    "Debugging & Monitoring"
                ],
                "summary": "Status of ABLObjects tracking",
                "description": "Checks if the ABLObjects tracking is active for an MS-Agent. Returns `true` if active, `false` if not active.<br/><br/>See: [Find Memory Leaks Using ABLObject Tracking](https://docs.progress.com/bundle/pas-for-openedge-management/page/Find-memory-leaks-using-ABL-object-tracking.html)",
                "operationId": "trackingABLObjects",
                "parameters": [
                    {
                        "name": "AppName",
                        "in": "path",
                        "description": "ABL Application Name",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "AgentID",
                        "in": "path",
                        "description": "MS-Agent ID",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successfully retrieved the status of ABLObjects tracking for an MS-Agent"
                    },
                    "500": {
                        "description": "Could not get status of ABLObjects tracking for an MS-Agent"
                    }
                }
            },
            "put": {
                "tags": [
                    "Debugging & Monitoring"
                ],
                "summary": "Enable/Disable ABLObjects",
                "description": "Turns on and off tracking of ABLObjects (dynamically created objects, instances of ABL classes, memptrs, etc.) for all ABL Sessions of an MS-Agent.<br/><br/><strong>Note:</strong> The property values in the Request body should be updated before executing the request. Valid values are `true` or `false`.<br/><br/>See: [Find Memory Leaks Using ABLObject Tracking](https://docs.progress.com/bundle/pas-for-openedge-management/page/Find-memory-leaks-using-ABL-object-tracking.html)",
                "operationId": "trackABLObjects",
                "parameters": [
                    {
                        "name": "AppName",
                        "in": "path",
                        "description": "ABL Application Name",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "AgentID",
                        "in": "path",
                        "description": "MS-Agent ID",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Enable/Disable ABLObjects",
                    "content": {
                        "application/vnd.progress+json": {
                            "schema": {
                                "$ref": "#/components/schemas/ABLObjectsStatus"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Successfully enabled/disabled ABLObjects tracking"
                    },
                    "500": {
                        "description": "Could not enable/disable ABLObjects tracking"
                    }
                }
            }
        },
        "/applications/{AppName}/webapps/{WebAppName}/transports/apsv/metrics": {
            "get": {
                "tags": [
                    "APSV Transport"
                ],
                "summary": "Get APSV Metrics",
                "description": "Returns the APSV metrics for the given oeablservice from the MetricManager instance",
                "operationId": "getMetrics",
                "parameters": [
                    {
                        "name": "AppName",
                        "in": "path",
                        "description": "ABL Application Name",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "WebAppName",
                        "in": "path",
                        "description": "OEABL WebApp Name",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "APSV Metrics executed successfully"
                    },
                    "500": {
                        "description": "Failed retreieving APSV Metrics"
                    }
                }
            },
            "delete": {
                "tags": [
                    "APSV Transport"
                ],
                "summary": "Reset APSV Metrics",
                "description": "Resets the APSV metrics for the given oeablservice from the MetricManager instance",
                "operationId": "resetMetrics",
                "parameters": [
                    {
                        "name": "AppName",
                        "in": "path",
                        "description": "ABL Application Name",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "WebAppName",
                        "in": "path",
                        "description": "OEABL WebApp Name",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "APSV Metrics reset successfully"
                    },
                    "500": {
                        "description": "Failed resetting APSV Metrics"
                    }
                }
            }
        },
        "/applications/{AppName}/webapps/{WebAppName}/transports/apsv/properties": {
            "get": {
                "tags": [
                    "APSV Transport"
                ],
                "summary": "Get APSV Transport properties by OEABL WebApp name",
                "description": "Get APSV Transport properties by OEABL WebApp name",
                "operationId": "getProperties_1",
                "parameters": [
                    {
                        "name": "AppName",
                        "in": "path",
                        "description": "Application Name ",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "WebAppName",
                        "in": "path",
                        "description": "OEABL WebApp Name",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successfully retreieved APSV transport properties",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "operation": {
                                            "type": "string"
                                        },
                                        "outcome": {
                                            "type": "string"
                                        },
                                        "result": {
                                            "$ref": "#/components/schemas/ApsvTransportProperties"
                                        },
                                        "errmsg": {
                                            "type": "string"
                                        },
                                        "versionStr": {
                                            "type": "string"
                                        },
                                        "versionNo": {
                                            "type": "string"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Failed retreiving APSV transport properties"
                    }
                }
            },
            "put": {
                "tags": [
                    "APSV Transport"
                ],
                "summary": "Update APSV Transport properties by OEABL WebApp name",
                "description": "Update APSV Transport properties by OEABL WebApp name  <br/><br/><strong>Note:</strong> The property values in the Request body should be updated before executing the request.Delete the properties that were not modified",
                "operationId": "updateProperties_1",
                "parameters": [
                    {
                        "name": "AppName",
                        "in": "path",
                        "description": "Application Name ",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "WebAppName",
                        "in": "path",
                        "description": "OEABL WebApp Name ",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Properties to Update",
                    "content": {
                        "application/vnd.progress+json": {
                            "schema": {
                                "$ref": "#/components/schemas/ApsvTransportProperties"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Successfully updated APSV transport properties",

                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApsvTransportResponse"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Failed updating APSV transport properties"
                    }
                }
            }
        },
        "/applications/{AppName}/webapps/{WebAppName}/transports/apsv/state": {
            "put": {
                "tags": [
                    "APSV Transport"
                ],
                "summary": "Enable/Disable APSV transport",
                "description": "Enables/Disables APSV transport identified by ABLAppName and OEABL WebAppName <br/><br/><strong>Note:</strong> The property values in the Request body should be updated before executing the request",
                "operationId": "updateStatus",
                "parameters": [
                    {
                        "name": "AppName",
                        "in": "path",
                        "description": "ABL Application Name",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "WebAppName",
                        "in": "path",
                        "description": "OEABL WebApp Name",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Properties to Update",
                    "content": {
                        "application/vnd.progress+json": {
                            "schema": {
                                "$ref": "#/components/schemas/TransportState"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Successfully Enabled/Disabled APSV transport"
                    },
                    "500": {
                        "description": "Could not Enable/Disable APSV transport"
                    }
                }
            }
        },
        "/applications/{AppName}/addAgent": {
            "post": {
                "tags": [
                    "SessionManager Administration"
                ],
                "summary": "Add a new MS-Agent for an ABL Application",
                "description": "Creates (starts) a new agent for an ABL application. Returns a new MS-Agent if tracking is not active or fails to generate the report.Throws an exception if maximum number of agents already exists ",
                "operationId": "addAgent",
                "parameters": [
                    {
                        "name": "AppName",
                        "in": "path",
                        "description": "ABL Application Name",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successfully added a new agent"
                    },
                    "500": {
                        "description": "Unable to add a new agent for an ABL Application"
                    }
                }
            }
        },
        "/applications/{AppName}/requests": {
            "get": {
                "tags": [
                    "SessionManager Administration"
                ],
                "summary": "List all the active requests for an ABL Application",
                "description": "Returns the list of all the active requests associated with an OEABL Application based on the following:<br/>If timeoutms and requestId are both provided, the method will return the request bounded to the given requestId that is initiated timeoutms milliseconds from the current time.<br/>If timeoutms is not provided but requestId is, the method will return the request bounded to the given requestId.<br/>If timeoutms is provided but not requestId, the method lists all the requests that were initiated timeoutms milliseconds from the current time.",
                "operationId": "getRequests",
                "parameters": [
                    {
                        "name": "AppName",
                        "in": "path",
                        "description": "ABL Application Name",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "requestId",
                        "in": "query",
                        "description": "Unique ID for the request ",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "timeoutms",
                        "in": "query",
                        "description": "Timeout in milliseconds ",
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successfully listed all the requests"
                    },
                    "500": {
                        "description": "Unable to retrieve the requests for the ABL AppName"
                    }
                }
            },
            "delete": {
                "tags": [
                    "SessionManager Administration"
                ],
                "summary": "Cancel Requests by RequestID and SessionID",
                "description": "Cancel a request with unique ID as `RequestID` and running under HTTP Session with ID as `SessionID`.",
                "operationId": "cancelRequest",
                "parameters": [
                    {
                        "name": "AppName",
                        "in": "path",
                        "description": "ABL Application Name",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "requestID",
                        "in": "query",
                        "description": "Request ID ",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "sessionID",
                        "in": "query",
                        "description": "HTTP SessionID ",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successfully cancelled requests"
                    },
                    "500": {
                        "description": "Unable to cancel requests"
                    }
                }
            }
        },
        "/applications/{AppName}/agentConnections": {
            "get": {
                "tags": [
                    "SessionManager Administration"
                ],
                "summary": "List all the MS-Agent Connections for the ABL Application",
                "description": "Returns the list of all the MS-Agent Connections for the ABL Applications",
                "operationId": "getAgtConnections",
                "parameters": [
                    {
                        "name": "AppName",
                        "in": "path",
                        "description": "ABL Application Name",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successfully listed all the sessions"
                    },
                    "500": {
                        "description": "Unable to retrieve the list of sessions"
                    }
                }
            }
        },
        "/applications/{AppName}": {
            "get": {
                "tags": [
                    "SessionManager Administration"
                ],
                "summary": "Get all services of an ABL Application",
                "description": "List all webapps and their services deployed in the given ABL Application",
                "operationId": "getApplication",
                "parameters": [
                    {
                        "name": "AppName",
                        "in": "path",
                        "description": "ABL Application name",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successfully retrieved all the services for the ABL Application"
                    },
                    "500": {
                        "description": "Unable to get the list of webapps & services for the ABL Application"
                    }
                }
            }
        },
        "/applications": {
            "get": {
                "tags": [
                    "SessionManager Administration"
                ],
                "summary": "Get All Applications",
                "description": "List all ABL Applications for the PASOE Instance",
                "operationId": "getApplications",
                "responses": {
                    "200": {
                        "description": "Successfully retrieved all the ABL Applications"
                    },
                    "500": {
                        "description": "Unable to get the ABL Applications"
                    }
                }
            }
        },
        "/applications/{AppName}/clients": {
            "get": {
                "tags": [
                    "SessionManager Administration"
                ],
                "summary": "List all connected Clients for the ABL Application",
                "description": "Returns the list of all the Clients connected with an ABL Application.<br/><br/>If `timeoutms` is provided, returns a list of all those clients which are connected over the `timeoutms` time from current time.<br/><br/>Therefore, the API can also be used to fetch all the Clients that are in Hung/IDLE",
                "operationId": "getClients",
                "parameters": [
                    {
                        "name": "AppName",
                        "in": "path",
                        "description": "ABL Application Name",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "timeoutms",
                        "in": "query",
                        "description": "timeout in milliseconds ",
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successfully listed all the clients connected"
                    },
                    "500": {
                        "description": "Unable to retrieve the list clients connected"
                    }
                }
            }
        },
        "/applications/{AppName}/metrics": {
            "get": {
                "tags": [
                    "SessionManager Administration"
                ],
                "summary": "Get SessionManager Metrics",
                "description": "Returns the SessionManager metrics for the given ABL Application. Availability of metrics data is dependent on the value set for the `collectMetrics` property.<br/><br/>See: [Collect Runtime Metrics](https://docs.progress.com/bundle/pas-for-openedge-management/page/Collect-runtime-metrics.html)",
                "operationId": "getMetrics_1",
                "parameters": [
                    {
                        "name": "AppName",
                        "in": "path",
                        "description": "ABL Application Name",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successfully retrieved ABL Application metrics"
                    },
                    "500": {
                        "description": "Unable to retrieve ABL Application metrics"
                    }
                }
            },
            "delete": {
                "tags": [
                    "SessionManager Administration"
                ],
                "summary": "Reset SessionManager Metrics",
                "description": "Resets the SessionManager metrics for the given ABL Application",
                "operationId": "resetMetrics_1",
                "parameters": [
                    {
                        "name": "AppName",
                        "in": "path",
                        "description": "ABL Application Name",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successfully reset ABL Application metrics"
                    },
                    "500": {
                        "description": "Unable to reset ABL Application metrics"
                    }
                }
            }
        },
        "/applications/{AppName}/properties": {
            "get": {
                "tags": [
                    "SessionManager Administration"
                ],
                "summary": "Get SessionManager Properties",
                "description": "Get SessionManager Properties (from openedge.properties)",
                "operationId": "getProperties_2",
                "parameters": [
                    {
                        "name": "AppName",
                        "in": "path",
                        "description": "ABL Application Name",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successfully retrieved SessionManager Properties"
                    },
                    "500": {
                        "description": "Could not retrieve SessionManager properties"
                    }
                }
            },
            "put": {
                "tags": [
                    "SessionManager Administration"
                ],
                "summary": "Update SessionManager Properties",
                "description": "Update SessionManager Properties (to openedge.properties)<br/><br/><strong>Note:</strong> The property values in the Request body should be updated before executing the request. Deletes the properties that were not modified.",
                "operationId": "updateProperties_2",
                "parameters": [
                    {
                        "name": "AppName",
                        "in": "path",
                        "description": "ABL Application Name",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Properties to update",
                    "content": {
                        "application/vnd.progress+json": {
                            "schema": {
                                "$ref": "#/components/schemas/SessionManagerProperties"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Successfully updated SessionManager properties"
                    },
                    "500": {
                        "description": "Could not update SessionManager Properties"
                    }
                }
            }
        },
        "/applications/{AppName}/sessions": {
            "get": {
                "tags": [
                    "SessionManager Administration"
                ],
                "summary": "Get all HTTP client sessions",
                "description": "List all the HTTP client sessions running on a given ABL Application.<br/><br/>If `timeoutms` is provided, returns a list of all those ABL Sessions which are lying idle/inactive over the `timeoutms` time from current time.",
                "operationId": "getSessions_1",
                "parameters": [
                    {
                        "name": "AppName",
                        "in": "path",
                        "description": "ABL Application Name",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "timeoutms",
                        "in": "query",
                        "description": "Timeout in milliseconds ",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "default": 100000
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successfully retrieved all the HTTP Sessions for the given ABL Application"
                    },
                    "500": {
                        "description": "Unable to retrieve all the HTTP Sessions in the given ABL Application"
                    }
                }
            },
            "delete": {
                "tags": [
                    "SessionManager Administration"
                ],
                "summary": "Terminate HTTP Session",
                "description": "Terminate an HTTP Session with a given SessionID using one of the following termination options:<br/><br/>`0` - graceful (trappable) stop<br/><br/>`1` - forced (untrappable) stop<br/><br/>`2` - finish request + stop",
                "operationId": "terminateSession",
                "parameters": [
                    {
                        "name": "AppName",
                        "in": "path",
                        "description": "ABL Application Name",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "terminateOpt",
                        "in": "query",
                        "description": "Terminate Option",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "default": 2
                        }
                    },
                    {
                        "name": "sessionID",
                        "in": "query",
                        "description": "HTTP Session ID",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Terminated HTTP Sessions successfully"
                    },
                    "500": {
                        "description": "Could not terminate the HTTP Session"
                    }
                }
            }
        },
        "/applications/{AppName}/{AgentID}/sessions": {
            "delete": {
                "tags": [
                    "SessionManager Administration"
                ],
                "summary": "Terminate IDLE ABL Sessions",
                "description": "Terminate only the ABL Sessions in an MS-Agent with a state of IDLE",
                "operationId": "terminateFreeSessions",
                "parameters": [
                    {
                        "name": "AppName",
                        "in": "path",
                        "description": "ABL Application Name",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "AgentID",
                        "in": "path",
                        "description": "MS-Agent ID",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "numSessions",
                        "in": "query",
                        "description": "number of sessions to terminate",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successfully terminated IDLE ABL Sessions"
                    },
                    "500": {
                        "description": "Unable to terminate IDLE ABL Sessions in an MS-Agent"
                    }
                }
            }
        },
        "/applications/{AppName}/webapps/{WebAppName}/metrics": {
            "get": {
                "tags": [
                    "OEABL ManagerService"
                ],
                "summary": "Get OEABL WebApp Metrics",
                "description": "Get OEABL WebApp Metrics for the given ABL Application",
                "operationId": "getMetrics_2",
                "parameters": [
                    {
                        "name": "AppName",
                        "in": "path",
                        "description": "ABL Application name ",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "WebAppName",
                        "in": "path",
                        "description": "OEABL WebApp name",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successfully retrieved OEABL WebApplication Metrics"
                    },
                    "500": {
                        "description": "Could not get OEABL WebApplication Metrics"
                    }
                }
            },
            "delete": {
                "tags": [
                    "OEABL ManagerService"
                ],
                "summary": "Reset OEABL WebApp Metrics",
                "description": "Reset OEABL WebApp Metrics for the given ABL Application",
                "operationId": "resetMetrics_2",
                "parameters": [
                    {
                        "name": "AppName",
                        "in": "path",
                        "description": "ABL Application name ",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "WebAppName",
                        "in": "path",
                        "description": "OEABL WebApp name",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successfully reset OEABL WebApplication Metrics"
                    },
                    "500": {
                        "description": "Could not reset OEABL WebApplication Metrics"
                    }
                }
            }
        },
        "/applications/{AppName}/webapps/{WebAppName}": {
            "get": {
                "tags": [
                    "OEABL ManagerService"
                ],
                "summary": "Get OEABL WebApp services",
                "description": "Get list of all services deployed inside the OEABL WebApplication",
                "operationId": "getWebApp",
                "parameters": [
                    {
                        "name": "AppName",
                        "in": "path",
                        "description": "ABL Application name ",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "WebAppName",
                        "in": "path",
                        "description": "OEABL WebApp name ",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successfully retrieved all the services deployed to the WebApp"
                    },
                    "500": {
                        "description": "Could not get the services deployed to the OEABL WebApp"
                    }
                }
            },
            "put": {
                "tags": [
                    "OEABL ManagerService"
                ],
                "summary": "Update services to an OEABL WebApp",
                "description": "Update services to an OEABL WebApplication",
                "operationId": "updateWebApp",
                "parameters": [
                    {
                        "name": "AppName",
                        "in": "path",
                        "description": "ABL Application name ",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "WebAppName",
                        "in": "path",
                        "description": "OEABL WebApp name",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Attachments",
                    "content": {
                        "application/vnd.progress.paar+zip": {
                            "schema": {
                                "type": "string",
                                "format": "binary"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Successfully updated services to the WebApp"
                    },
                    "500": {
                        "description": "Could not update services to the OEABL WebApp"
                    }
                }
            }
        },
        "/applications/{AppName}/webapps": {
            "get": {
                "tags": [
                    "OEABL ManagerService"
                ],
                "summary": "List all webapps",
                "description": "Get list of all webapps of an ABL Application",
                "operationId": "getWebApps",
                "parameters": [
                    {
                        "name": "AppName",
                        "in": "path",
                        "description": "ABL Application name ",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successfully retrieved all the webapps of an ABL Application"
                    },
                    "500": {
                        "description": "Could not get the webapps of an ABL Application"
                    }
                }
            }
        },
        "/applications/{AppName}/webapps/{WebAppName}/transports/web/handlers/all": {
            "get": {
                "tags": [
                    "WEB Transport"
                ],
                "summary": "Get all supported WebHandlers",
                "description": "List all supported types of WebHandlers for a given OEABL WebApp",
                "operationId": "getAllHandlers",
                "parameters": [
                    {
                        "name": "AppName",
                        "in": "path",
                        "description": "ABL Application Name",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "WebAppName",
                        "in": "path",
                        "description": "OEABL WebApp Name",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successfully reset Web Transport metrics"
                    },
                    "500": {
                        "description": "Unable to reset WEB Transport metrics"
                    }
                }
            }
        },
        "/applications/{AppName}/webapps/{WebAppName}/transports/web/handlers": {
            "get": {
                "tags": [
                    "WEB Transport"
                ],
                "summary": "Get WebHandlers from openedge.properties",
                "description": "List all WebHandlers for a given OEABL WebApp defined in openedge.properties",
                "operationId": "getHandlers",
                "parameters": [
                    {
                        "name": "AppName",
                        "in": "path",
                        "description": "ABL Application Name",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "WebAppName",
                        "in": "path",
                        "description": "OEABL WebApp Name",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successfully reset Web Transport metrics"
                    },
                    "500": {
                        "description": "Unable to reset WEB Transport metrics"
                    }
                }
            },
            "put": {
                "tags": [
                    "WEB Transport"
                ],
                "summary": "Performs an incremental update of the Web transport",
                "description": "Deploys an incremental zip file and updates the Web transport handler mapping",
                "operationId": "publishZip",
                "parameters": [
                    {
                        "name": "AppName",
                        "in": "path",
                        "description": "ABL Application Name",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "WebAppName",
                        "in": "path",
                        "description": "OEABL WebApp Name",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/vnd.progress.paar+zip": {
                            "schema": {
                                "$ref": "#/components/schemas/Attachment"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successfully deployed incremental zip for Web transport"
                    },
                    "500": {
                        "description": "Unable to deploy incremental zip"
                    }
                }
            }
        },
        "/applications/{AppName}/webapps/{WebAppName}/transports/web/metrics": {
            "get": {
                "tags": [
                    "WEB Transport"
                ],
                "summary": "Get WEB Transport metrics",
                "description": "Get the WEB Transport metrics for the given OEABL WebApp ",
                "operationId": "getMetrics_3",
                "parameters": [
                    {
                        "name": "AppName",
                        "in": "path",
                        "description": "ABL Application Name",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "WebAppName",
                        "in": "path",
                        "description": "OEABL WebApp Name",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successfully retrieved Web Transport metrics"
                    },
                    "500": {
                        "description": "Unable to retrieve WEB Transport metrics"
                    }
                }
            },
            "delete": {
                "tags": [
                    "WEB Transport"
                ],
                "summary": "Reset WEB Transport metrics",
                "description": "Reset the WEB Transport metrics for the given OEABL WebApp ",
                "operationId": "resetMetrics_3",
                "parameters": [
                    {
                        "name": "AppName",
                        "in": "path",
                        "description": "ABL Application Name",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "WebAppName",
                        "in": "path",
                        "description": "OEABL WebApp Name",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successfully reset Web Transport metrics"
                    },
                    "500": {
                        "description": "Unable to reset WEB Transport metrics"
                    }
                }
            }
        },
        "/applications/{AppName}/webapps/{WebAppName}/transports/web/properties": {
            "get": {
                "tags": [
                    "WEB Transport"
                ],
                "summary": "Get Web Transport Properties",
                "description": "List all Web Transport Properties for a given OEABL WebApp",
                "operationId": "getProperties_3",
                "parameters": [
                    {
                        "name": "AppName",
                        "in": "path",
                        "description": "ABL Application Name",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "WebAppName",
                        "in": "path",
                        "description": "OEABL WebApp Name",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successfully to get Web Transport properties"
                    },
                    "500": {
                        "description": "Unable to get WEB Transport properties"
                    }
                }
            },
            "put": {
                "tags": [
                    "WEB Transport"
                ],
                "summary": "Update Web Transport Properties",
                "description": "Update Web Transport Properties for a given OEABL WebApp <br/><br/><strong>Note:</strong> The property values in the Request body should be updated before executing the request.Delete the properties that were not modified",
                "operationId": "updateProperties_3",
                "parameters": [
                    {
                        "name": "AppName",
                        "in": "path",
                        "description": "ABL Application Name",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "WebAppName",
                        "in": "path",
                        "description": "OEABL WebApp Name",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Properties to Update",
                    "content": {
                        "application/vnd.progress+json": {
                            "schema": {
                                "$ref": "#/components/schemas/WebTransportProperties"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Successfully updated Web Transport properties"
                    },
                    "500": {
                        "description": "Unable to update WEB Transport properties"
                    }
                }
            }
        },
        "/applications/{AppName}/webapps/{WebAppName}/transports/web/handlers/refresh": {
            "put": {
                "tags": [
                    "WEB Transport"
                ],
                "summary": "Refresh WebHandler Mapping Details",
                "description": "Reloads the WebHandler mapping list",
                "operationId": "updateHandlers",
                "parameters": [
                    {
                        "name": "AppName",
                        "in": "path",
                        "description": "ABL Application Name",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "WebAppName",
                        "in": "path",
                        "description": "OEABL WebApp Name",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successfully refreshed Web Transport handler mappings"
                    },
                    "500": {
                        "description": "Unable to refesh Web Transport handler mappings"
                    }
                }
            }
        },
        "/applications/{AppName}/webapps/{WebAppName}/transports/web/state": {
            "put": {
                "tags": [
                    "WEB Transport"
                ],
                "summary": "Enable/Disable WEB Transport",
                "description": "Enables or disabled the WEB Transport for the given OEABL WebApp. To enable set the state as 'ENABLED' and to disable set the state as 'DISABLE'",
                "operationId": "updateStatus_1",
                "parameters": [
                    {
                        "name": "AppName",
                        "in": "path",
                        "description": "ABL Application Name",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "WebAppName",
                        "in": "path",
                        "description": "OEABL WebApp Name",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Enable/Disable state",
                    "content": {
                        "application/vnd.progress+json": {
                            "schema": {
                                "$ref": "#/components/schemas/TransportState"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Successfully enabled/disabled the Web Transport"
                    },
                    "500": {
                        "description": "Unable to enable/disable the WEB Transport"
                    }
                }
            }
        },
        "/applications/{AppName}/webapps/{WebAppName}/transports/rest/metrics": {
            "get": {
                "tags": [
                    "REST Transport"
                ],
                "summary": "Get Metrics",
                "description": "Returns the REST metrics for the given ABLApp and OEABL WebApp",
                "operationId": "getMetrics_4",
                "parameters": [
                    {
                        "name": "AppName",
                        "in": "path",
                        "description": "ABL Application Name",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "WebAppName",
                        "in": "path",
                        "description": "OEABL WebApp name",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successfully retrieved metrics"
                    },
                    "500": {
                        "description": "Unable to get metrics"
                    }
                }
            },
            "delete": {
                "tags": [
                    "REST Transport"
                ],
                "summary": "Reset Metrics",
                "description": "Reset REST metrics for the given ABLApp and OEABL WebApp",
                "operationId": "resetMetrics_4",
                "parameters": [
                    {
                        "name": "AppName",
                        "in": "path",
                        "description": "ABL Application Name",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "WebAppName",
                        "in": "path",
                        "description": "OEABL WebApp Name",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successfully reset metrics"
                    },
                    "500": {
                        "description": "Unable to reset metrics"
                    }
                }
            }
        },
        "/applications/{AppName}/webapps/{WebAppName}/transports/rest/properties": {
            "get": {
                "tags": [
                    "REST Transport"
                ],
                "summary": "Get Properties",
                "description": "Returns the runtime properties for the REST Transport",
                "operationId": "getProperties_4",
                "parameters": [
                    {
                        "name": "AppName",
                        "in": "path",
                        "description": "ABL Application Name",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "WebAppName",
                        "in": "path",
                        "description": "OEABL WebApp name",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successfully retrieved the REST transport Properties"
                    },
                    "500": {
                        "description": "Unable to retrieve  the REST transport Properties"
                    }
                }
[...]
